<p>Push stuff goes here</p>

<p>Error: <%= @error_message  %></p>

<%= form_tag({:action => :push}, :multipart => true) do %>
  <%= file_field_tag 'sql_gz' %>
  <br />
  <%= submit_tag "Upload" %>
<% end %>
