<!DOCTYPE html>
<html>
<head>
  <title>RailsApp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>i
  <%= csrf_meta_tags %>
  <style>
	#user_code {
	  height: 300px;
	  width: 900px;
	}
  </style>
</head>
<body>

<%= yield %>

</body>
</html>
